{% extends "homepage.html"%}

{%  block title %}
    Fléshi - Perfil
{% endblock %}

{% block body %}
    <body>
        {% include "navbar.html" %}
        <h1>Perfil do usuário: {{ user.username }}</h1>

        {% if form %}
            <form method="post"enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.photo() }}
                {{ form.submit() }}

            </form>
        {% endif %}

        {% for photo in user.photos %}
            <a href="{{ url_for('profile', user_id=photo.user_id) }}">
                <img src="{{ url_for('static', filename='posts_photos/' ~ photo.filename) }}" alt="Imagem">
            </a>
        {% endfor %}

        {% for photo in user.photos %}
            <a href="{{ url_for('deletephoto', photo_id=photo.id) }}"
               onclick="return confirm('Tem certeza que deseja excluir esta foto?');">
                <img src="{{ url_for('static', filename='site_photos/delete.png') }}" width="25">
            </a>
        {% endfor %}

    {% for photo in user.photos %}
        <div class="photo-block">

            <img src="{{ url_for('static', filename='posts_photos/' ~ photo.filename) }}" width="350">

            <h4>Comentários</h4>

            {% for c in photo.comments %}
                <p>
                    <strong>{{ c.user.username }}</strong>: {{ c.text }}
                    {% if c.user_id == current_user.id %}
                        <a href="{{ url_for('delete_comment', comment_id=c.id) }}" style="color:red;">[x]</a>
                    {% endif %}
                </p>
            {% endfor %}

            {% if current_user.is_authenticated %}
            <form action="{{ url_for('comment', photo_id=photo.id) }}" method="POST">
                <input type="text" name="comment" placeholder="Adicionar comentário" class="form-control">
                <button class="btn btn-secondary mt-1">Enviar</button>
            </form>
            {% endif %}

        </div>
    {% endfor %}
    </body>
{% endblock %}
