{% extends "homepage.html"%}

{%  block title %}
    Fléshi - Perfil
{% endblock %}

{% block body %}
    <body>
        {% include "navbar.html" %}
        <h1>Perfil do usuário: {{ user.username }}</h1>

        {% if form %}
            <form method="post"enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.photo() }}
                {{ form.submit() }}

            </form>
        {% endif %}

        {% for photo in user.photos %}
            <a href="{{ url_for('profile', user_id=photo.user_id) }}">
                <img src="{{ url_for('static', filename='posts_photos/' ~ photo.filename) }}" alt="Imagem">
            </a>
        {% endfor %}

        {% for photo in user.photos %}
            <a href="{{ url_for('deletephoto', photo_id=photo.id) }}">
                <img src="{{ url_for('static', filename='site_photos/delete.png') }}" width="25">
            </a>
        {% endfor %}
    </body>
{% endblock %}
